
body {
  font-family: "Quicksand";
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu";
}

h3{
  font-size: 1.7;
  font-style: oblique;
}

p {
  color: white;
  font-size: 1.5rem;
}


/* Headings */

.big-heading {
  font-family: "Ubuntu";
  color: white;
  font-size: 4.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
}

/* Containers */

.container-fluid{
  padding: 7% 7.5%;
}

/* Sections */

.colored-section {
  background-color: black;
  background-repeat:no-repeat;
  background-position-x:auto;
  background-position-y:auto;
  background-size: 80rem;
  color: #fff;
}
.white-section{
  background-size: 80rem;
}
.grad-section{
  background-color: purple; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, blue, green);
}
/* Navigation Bar */

.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  color: white;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
  color: white;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
  color:white;
}

#title {
  color: white;
  text-align: left;
  padding: 0%;
}

#title .container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0;
  padding-top: 20px;
}
#fotologo .container-fluid{
  padding: 0% 0%,
}

/* Buttons */

.bg-primary {
    background-color: #C0C0C0!important;
}
.bg-dark{
  background-color: #CBB989!important;
}
.bg-white{
  background-color: #aebbff!important;
}
.bg-danger{
  background-color: #81571E!important;
}
.bg-info{
  background-color: #6F000B!important;
}
.bg-warning{
  background-color: #A7967D!important;
}
/* FONDO*/
#fotologo{
  background-image: url(fondito4.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  text-align: center;

}

#fotologo .social-icon{
  color: orange;
  text-align: center;

}

/* Features Section */


#fotologo h1{
  font-size: 4rem;
  font-weight: bold;
  font-style: oblique;
}

.icon {
  color: #ef8172;
  margin-bottom: 30rem;
}

.icon:hover {
  color: #ff4c68;
}

#Photos .container-fluid{
  background-color: #black;
  padding-bottom: 3%;
  padding-top: 0px;

}

#features .container-fluid{
  background-color: #black;
  padding-bottom: 3%;
  padding-top: 3%;
}

#pricing {
  padding-bottom: 0%;
  padding-top: 3%;
}

#package{
  padding-bottom: 3%;
  padding-top: 0%;
}

#cta .container-fluid{
  padding: 2%;
}

#footer .container-fluid{
  padding:2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 4%;
}

.testimonial-image{
  margin:30px;
}

.fa-solid{
  color: orange;
}


.social-icon{
  margin: 30px;
}

#cta h2 , h3{
  color: orange;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
  align-items: center;
}
