
body {
  font-family: "Ubuntu";
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu";
}

p {
  color: white;
}

/* Headings */

.big-heading {
  font-family: "Ubuntu";
  color: white;
  font-size: 4.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 7.5%;
}

/* Sections */

.colored-section {
  background-color: black;
  background-repeat:no-repeat;
  background-position-x:auto;
  background-position-y:auto;
  background-size: 80rem;
  color: #fff;
}
.white-section{
  background-size: 80rem;
}
.grad-section{
  background-color: purple; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, blue, purple);

}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  color: white;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
  color: white;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
  color:white;
}

/* Buttons */

.bg-primary {
    background-color: #C0C0C0!important;
}
.bg-dark{
  background-color: #CBB989!important;
}
.bg-white{
  background-color: #aebbff!important;
}
.bg-danger{
  background-color: #81571E!important;
}
.bg-info{
  background-color: #6F000B!important;
}
.bg-warning{
  background-color: #A7967D!important;
}
/* Title Section */

#title {
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features{
  padding: 1px;
}

.icon {
  color: #ef8172;
  margin-bottom: 30rem;
}

.icon:hover {
  color: #ff4c68;
}

.iconos{
  color: black;
}


#photos {
  background-color: #ef8172;
  padding-bottom: 3%;
  padding-top: 0px;
}


/* Pricing Section */

#pricing {
  padding: 10px;
}
#package{
  padding: 10px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

#footer {

}

.testimonial-image{
  margin:30px;
}

#cta {
  padding: 1%;

}

.social-icon{
  margin: 300px;
}
.fa-solid{
  color: black;
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
